main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f6ff;
}

.c-panel {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  &__heading {
    text-align: center;
    color: #31507d;
    .icon {
      width: 100%;
      font-size: 5rem;
    }
    h4 {
      font-weight: 200;
    }
  }
}
